/* Custom properties */
:root {
    /* icon color */
    --icon-grey: rgb(129, 137, 143);

    /* padding */
    --padding-sm: 5px;

    /* border radius */
    --br-radius-sm: 5px;
}

/* Header */
.navbar-brand img{
    width: 60px;
    height: auto;
}

/* Table */
.vd-icon-grey {
    color: var(--icon-grey);
    border-color: var(--icon-grey);
}

.vd-pd-sm {
    padding: var(--padding-sm);
}

.vd-br-radius-sm {
    border-radius: var(--br-radius-sm);
}

.table button {
    border: none;
    background-color: transparent;
}